[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
tensorflow-gpu = "*"
keras = "*"
opencv-python = "*"
"progressbar2" = "*"
tensorboard = "*"
pygame = "*"
socketio-client-nexus = "*"

[requires]
python_version = "3.6"
